@model ConstructionWork.Models.Worker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staffname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staffname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDoB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffDoB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StaffID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
